@model IEnumerable<busSystem_v8.Models.User>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit Wallet", "Edit", new { id = item.UserID })
        </td>
        <td>
            @Html.ActionLink("Delete User", "Delete", new { id = item.UserID })
        </td>
        <td>
            @Html.ActionLink("Block User", "block", new { id = item.UserID })
        </td>
    </tr>
}

</table>
